@model LeaveRequestCreateVM

@{
    ViewData["Title"] = "Demande de congés";
}

<h1>Demande de congés</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LeaveTypeId" class="control-label"></label>
                <select asp-for="LeaveTypeId" class="form-select" asp-items="Model.LeaveTypes">
                    <option>Selectionner un type de congés</option>
                </select>
                <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control datepicker" type="text" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                 <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="StartTime" class="control-label"></label>
                        <select asp-for="StartTime" class="form-select">
                            <option value="">Sélectionner l'heure de début</option>
                            <option>matin</option>
                            <option>après-midi</option>
                        </select>
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control datepicker" type="text" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EndTime" class="control-label"></label>
                        <select asp-for="EndTime" class="form-select">
                            <option value="">Sélectionner l'heure de fin</option>
                            <option>matin</option>
                            <option>après-midi</option>
                        </select>
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="RequestComments" class="control-label"></label>
                <textarea asp-for="RequestComments" class="form-control"></textarea>
                <span asp-validation-for="RequestComments" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <a asp-action="MyLeave" class="btn btn-dark">Annuler</a>
                <input type="submit" value="Soumettre" class="btn btn-primary" />
            </div>
            <br />
            
            @*<div class="form-group">
                <label asp-for="SupervisorId" class="control-label"></label>
                <select asp-for="SupervisorId" class="form-select" asp-items="Model.LeaveTypes">
                    <option>Selectionner un superviseur</option>
                </select>
                <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
            </div>*@
        </form>
    </div>
</div>